
.featured-items{
    height: 750px !important;
}
.product-details-container{
    width: 100%;
    height: 600px;
    margin: 50px 0;
    display: flex;
}
.product-details-container .images-container{
    width: 50%;
    height: 600px;
    
}
.product-details-container .images-container .imgs-container{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
}
.product-details-container .images-container .imgs-container .zoomed-img{
    width: 90%;
    height: 65%;
    margin: 19px 30px;
    position: relative;

}
.product-details-container .images-container .imgs-container .zoomed-img img{
    width: 100%;
    height: 100%;
}
@media (min-width:320px)and (max-width: 991px){
    .featured-items{
        height: unset !important;
    }
    .product-details-container{
        width: 100%;
        height: unset;
        margin: 0;
        display: block;
    }
    .product-details-container .images-container{
        width: 100% !important;
        height: unset;
    }
    .product-details-container .images-container .imgs-container .zoomed-img{
        margin: auto;    
    }
    
}
/*****************************************/

.product-details-container .details-container{
    width: 50%;
    height: 600px;
    padding: 0 0 0 60px ;
}
.product-details-container .details-container label{
    font-size: 15px;
    line-height: 1.5;
    font-style: italic;
    color: teal;
}
.product-details-container .details-container input{
    margin: 20px 5px;
}
.product-details-container .details-container input:nth-of-type(1){
    width: 45%;
    height: 34px;
    padding: 0 0 0 10px;
    border-radius: 3px;
    border:1px solid #ccc;
}
.product-details-container .details-container input:nth-of-type(2){
    width:45%;
    height: 38px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 1s;
    border:1px solid #ccc;
    padding: 0 0 0 10px;

}
.product-details-container .details-container input:nth-of-type(3){
    width:94.5%;
    height: 38px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 1s;
    border:1px solid #ccc;
    padding: 0 0 0 10px;

}
.product-details-container .details-container textarea{
    width:94.5%;
    height: 190px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 1s;
    padding:  10px 0 10px 10px;
    margin: 20px 5px;
    border:1px solid #ccc;
}
.product-details-container .details-container input:nth-of-type(4){
    width: 30%;
    height: 45px;
    background-color: #3a8bcd;
    color: #fff;
    font-weight: bold;
    border: 1px solid #3a8bcd;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s;
}
.product-details-container .details-container input:nth-of-type(4):hover{
    background-color: #fff;
    color: #3a8bcd;
}

@media (min-width: 320px)and (max-width: 991px){
    .product-details-container .details-container{
        width: 100% !important;
        height: 600px;
        padding: 0;
    }
    .product-details-container .details-container input{
        margin: 18px 5px;
        display: block;
    }
    .product-details-container .details-container input:nth-of-type(1){
        width: 37%;
        height: 34px;
        padding: 0 0 0 10px;
        border-radius: 3px;
        border:1px solid #ccc;
    }
    .product-details-container .details-container input:nth-of-type(2){
        width:37%;    
    }
    .product-details-container .details-container input:nth-of-type(3){
        width:91%;    
    }
    .product-details-container .details-container textarea{
        width:94%;
        height: 190px;
        font-weight: bold;
        border-radius: 5px;
        transition: all 1s;
        padding:  10px 0 10px 10px;
        margin: 20px 5px;
        border:1px solid #ccc;
    }
    .product-details-container .details-container input:nth-of-type(4){
        width: 30%;
        height: 45px;
        background-color: #3a8bcd;
        color: #fff;
        font-weight: bold;
        border: 1px solid #3a8bcd;
        border-radius: 5px;
        cursor: pointer;
        transition: all 1s;
    }
}
/*-----------------------------------------------*/
.product-details-container .details-container .share{
    color: teal;
    text-transform: capitalize;
    word-spacing: 3px;
}
.product-details-container .details-container .share{
    margin: 30px 0;
}
.product-details-container .details-container .share a{
    color: teal;
    font-size: 20px;
}
.product-info a{
    color: #3a8bcd !important;
    text-transform: capitalize !important;
}
::placeholder{color: teal;text-transform: capitalize;}
.inpt0::placeholder{color: white;text-transform: capitalize;}